<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Timeline | Unify - Responsive Website Template</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-default.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/shortcode_timeline2.css">
	<link rel="stylesheet" href="assets/css/pages/profile.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript">
	var mid='592a7af2f8bc6d93b34216ef';
	var module=angular.module('timelineApp', []);
	var id=document.location.href;
	id=id.split("?")[1];
	if(!id) alert("Error"); // TODO Error Processing
	id=id.split("&")[0].split("=");
	if(id[0]!="id") alert("Error"); // TODO Error Processing
	id=id[1];
	//alert(id);
	//alert(0);
	
	module.controller('TimelineDisplayController', function($scope,$http) {
		//alert(1);
		//var id = "592a7c6ff8bc6d93b34216f1";
		// Bring the members into scope variable members
		$http.get('http://'+document.location.host+'/project/summary/'+id).then(function(res1) {
			$scope.project_keyword = res1.data.result.keyword;
		});
		
		$http.get('http://'+document.location.host+'/project/member/'+id).then(function(res1) {
			$scope.members = res1.data.result;
/* 			$scope.linebreak=function(str){
				return str.replace(/\n/gi,'</p><p>');
			}; */
			// Bring the timeline into scope variable posts
			$http.get('http://'+document.location.host+'/timeline/'+id,{memberId:mid}).then(function(res) {
				$scope.posts=res.data.result;
				$scope.posts2=res.data.result.slice(0,2);
				$scope.id=id;
				
				$http.get('http://'+document.location.host+'/eval/download',{postID:posts._id,fromMember:mid}).then(function(res2) {
					$scope.eval = res2.data.result;
					$scope.evalStatus=function(toMember,detail){
						for(e in $scope.eval)
							if($scope.eval[e].toMember==toMember && $scope.eval[e].eval==detail)
								return $scope.eval[e].eval;
						return "";
					};
					$scope.evalSubmit=function(toMember,detail){
						$http.post('http://'+document.location.host+'/eval/upload',{postID:posts._id,fromMember:mid,toMember:toMember,eval:detail,message:''});
					};
				});
			});

		});
	});
	

	module.directive('ngElementReady', ['$timeout', function($timeout) {
		//alert(2);
        return {
            restrict: "A", // attribute only
            link: function($scope, $element, $attributes) {
                angular.getTestability($element).whenStable(ready);
            }
        };
    }]);
	</script>
</head>

<body>
	<div class="wrapper" ng-app="timelineApp" ng-element-ready>
	
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="index.html">
					<img src="assets/img/logo1-default.png" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">

						<!-- Home -->
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								Home
							</a>
						</li>
						<!-- End Home -->

						<!-- Features -->
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								My page
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-submenu">
									<a href="javascript:void(0);">My Page</a>
								</li>
								<li class="dropdown-submenu">
									<a href="javascript:void(0);">My Projects</a>
									<ul class="dropdown-menu">
										<li><a href="feature_footer_default.html#footer-default">Capstone Expo</a></li>
										<li><a href="feature_footer_v1.html#footer-v1">Footer v1</a></li>
									</ul>
								</li>
								<li><a href="feature_gallery.html">Gallery Examples</a></li>
							</ul>
						</li>
						<!-- End Features -->

						<!-- Home -->
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								Class Introduction
							</a>
						</li>
						<!-- End Home -->

						<!-- Search Block -->
						<li>
							<i class="search fa fa-search search-btn"></i>
							<div class="search-open">
								<div class="input-group animated fadeInDown">
									<input type="text" class="form-control" placeholder="Search">
									<span class="input-group-btn">
										<button class="btn-u" type="button">Go</button>
									</span>
								</div>
							</div>
						</li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->

		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Timeline</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="">Features</a></li>
					<li class="active">Timeline</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->



		<!--=== Content Part ===-->
		
		<div class="container content" ng-controller="TimelineDisplayController">
			<div class="row">
				<!-- Right Side Bar -->
				<div class="col-md-3 jisu_right_border_gray">
					<div class="headline"><h2>Team Members</h2></div>
					<!-- Team members -->
						
					<div class="posts margin-bottom-40">					
						<dl class="dl-horizontal" ng-repeat="m in members">
							<dt><a href="#"><img src="/image/download/{{m.image}}" alt="" /></a></dt>
							<dd>
								<p><a href="my_page.html?{{m._id}}"><strong>{{m.name}}</strong><br>{{m.major}}</a></p>
							</dd>
						</dl>
					</div>
					<!-- End Team members -->
					
					
					<div class="headline"><h2>My Projects</h2></div>
					<!-- projects -->
						<ul class="list-unstyled blog-latest-posts margin-bottom-50">
							<li>
								<h3><a href="project_details.html?id={{id}}"><strong>Capstone Expo</strong></a></h3>
								<small>From 1 March, 2017 / To 1 June, 2017</small>
							</li>
							<li>
								<h3><a href="#"><strong>Capstone Expo</strong></a></h3>
								<small>From 1 March, 2017 / To 1 June, 2017</small>
							</li>
						</ul>
					<!-- End Projects -->


					<div class="headline"><h2>Latest Posts</h2></div>
						<!-- Latest Links -->
						<ul class="list-unstyled blog-latest-posts margin-bottom-50" ng-repeat="p2 in posts2">
							<li>
								<h3><a href="jisu_timeline_item.html?{{p2._id}}"><strong>{{p2.title}}</strong></a></h3>
								<small>{{p2.writeTime|date:'yyyy.MM.dd'}} / <a href="#">Web,</a> <a href="#">Webdesign</a></small>
								<p>{{p2.contents}}</p>
							</li>
						</ul>
						<!-- End Latest Links -->

						<div class="headline"><h2>Tags</h2></div>
						<!-- Tags v2 -->
						<ul class="list-inline tags-v2 margin-bottom-50" >
							<li ng-repeat="tag in project_keyword"><a href="#">{{tag}}</a></li>
						</ul>
						<!-- End Tags v2 -->
					</div>
					<!-- End Right Side Bar -->
							
					
				<!-- Begin Content -->
				<div class="col-md-9">
					<!-- new button -->
					<div class="btn-group col-md-3 jisu_new_button_div">
							<button class="btn-u dropdown-toggle" style="float:right" data-toggle="dropdown" type="button">
								new
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#" data-toggle="modal" data-target="#responsive">timeline</a>
								</li>
								<li>
									<a href="jisu_midterm_report.html">midterm report</a>
								</li>
								<li>
									<a href="jisu_final_report.html">final report</a>
								</li>
							</ul>
					</div>
					<!-- End new button -->
					<br><br>
				
					<ul class="timeline-v2">
						<li class="equal-height-columns" ng-repeat="p in posts" print1>
							<div class="cbp_tmtime equal-height-column"><span>{{p.writeTime|date:'yyyy.MM.dd'}}</span> <span>May</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="{{p.type}} cbp_tmlabel equal-height-column">
												
								<!-- Edit button -->
								<h2>
									<a href="jisu_timeline_item.html?{{p._id}}">{{p.title}}</a>
									<a href="jisu_timeline_item_edit.html?post={{p._id}}&project={{id}}" style="text-decoration:none" class="jisu_edit_link">edit</a>
								</h2>	
								<!-- End edit button -->
									
										
								<div class="row">
									<div class="col-md-4">
										<img class="img-responsive" src="/image/download/{{p.image}}" alt="">
										<div class="md-margin-bottom-20"></div>
									</div>
									<div class="col-md-8">
										<p style="white-space:pre-wrap;" class="get_timeline_content" name="{{p.file}}">{{p.contents}}</p>
										
										<!-- Heart button -->
                     					<i class="rounded-x icon-heart jisu_heart_icon{{p.like.length}}" name="{{p._id}}"></i>
										<!-- End heart button -->
										
										<!-- Evaluation button -->
                     					<i class="rounded-x icon-share jisu_timeline_icon" data-toggle="modal" data-target="#evaluation1"></i>

                     					<div id="evaluation1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	                       					<div class="modal-dialog modal-md">
	                          					<div class="modal-content">
	                             					 <div class="modal-header">
	                               					 	<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
	                                					<h4 id="myLargeModalLabel3" class="modal-title">Evaluation</h4>
	                            					 </div>	                            					 
	                            					 
	                              					 <div class="modal-body">
                        				             <!-- Accordion v1 -->
														<div class="panel-group acc-v1" id="accordion-1">
															<div class="panel panel-default" ng-repeat="m3 in members" ng-class='memberClass(m3, $index)'>
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse{{m3._id}}">
																			{{m3.name}}
																		</a>
																	</h4>
																</div>
																<div id="collapse{{m3._id}}" class="panel-collapse collapse assess-form">
																		<div class=" cc-selector">
																	        <input id="idea{{m3._id}}" type="radio" name="assess{{m3._id}}" value="idea" ng-checked="{{evalSTatus(m3._id,'creative')" ng-click="evalSubmit(m3._id,'creative')"/>
																	        <label class="drinkcard-cc idea" for="idea{{m3._id}}"></label>
																	        <span>CREATIVE</span>
																        </div>
																        <div class=" cc-selector">
																	        <input id="leader{{m3._id}}" type="radio" name="assess{{m3._id}}" value="leader" ng-checked="m3.detail == 'leader'" ng-click="evalSubmit(m3._id,'leader')"/>
																	        <label class="drinkcard-cc leader" for="leader{{m3._id}}"></label>
																	        <span>LEADERSHIP</span>
																        </div>
																        <div class=" cc-selector">
																	        <input id="skill{{m3._id}}" type="radio" name="assess{{m3._id}}" value="skill" ng-checked="m3.detail == 'skill'" ng-click="evalSubmit(m3._id,'skill')"/>
																	        <label class="drinkcard-cc skill"for="skill{{m3._id}}"></label>
																	        <span>SKILLED</span>
																        </div>
																        <div class=" cc-selector">
																	        <input id="teamwork{{m3._id}}" type="radio" name="assess{{m3._id}}" value="teamwork" ng-checked="m3.detail == 'teamwork'" ng-click="evalSubmit(m3._id,'teamwork')"/>
																	        <label class="drinkcard-cc teamwork"for="teamwork{{m3._id}}"></label>
																	        <span>TEAMWORK</span>
																        </div>
																</div>
															</div>
																										
														</div>
														<!-- End Accordion v1 -->       
	                             					 </div><!-- End modal-body --> 
	                           					</div>
	                        				</div>
                        				</div>
                        				

                        				
                        				<!-- End Evaluation button -->
                        				
                        				<!-- Reply button -->
										<i class="rounded-x icon-speech jisu_timeline_icon" data-toggle="modal" data-target="#reply1"></i>
										<div id="reply1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
														<h4 id="myLargeModalLabel2" class="modal-title">Reply</h4>
													</div>
													<div class="modal-body">
														<input type="text" class="form-control reply_input"/>
														<div class="input-group-btn">
															<button type="button" name="{{p._id}}" style="display: inline-block" class="btn btn-danger reply_submit_button">
																Submit
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- End reply button -->
									
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- End Content -->
					
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->
		
		
		
		<!--=== Footer v1 ===-->
		<div id="footer-v1" class="footer-v1">
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2015 &copy; All Rights Reserved.
								<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="https://www.facebook.com/kaistkschool/?fref=ts" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UC2sJC5hisC5dkXk6zODUnfA" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube">
										<i class="fa fa-youtube"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer v1 ===-->
		
	<!-- modal -->
	<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel4">타임라인 등록</h4>
				</div>

					<form id="new_post_submit" class="form-horizontal sky-form no-border" role="form" method="post" enctype="multipart/form-data">
				<div class="panel-body sky-form">
		

						<div class="form-group">
							<label for="inputTitle" class="col-lg-2 control-label">제목:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputTitle" placeholder="프로젝트명">
							</div>
						</div>
						<div class="form-group">
							<label for="inputDate" class="col-lg-2 control-label">날짜:</label>
							<div class="col-lg-10 inline-group">
								<div class="col-4 date-picker">
									<label class="input">
										<i class="icon-append fa fa-calendar"></i>
										<input type="text" name="start" id="start" placeholder="Start date">
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputDesc" class="col-lg-2 control-label">내용:</label>
							<div class="col-lg-10 textarea">
								<textarea id="inputDesc" class="form-control" rows="5" placeholder="프로젝트를 소개해주세요."></textarea>
							</div>
						</div>

						<div class="form-group">
							<label for="inputImage" class="col-lg-2 control-label">사진:</label>
							<div class="col-lg-10">
								<label for="file" class="input input-file">
									<div class="button"><input type="file" id="file" name="uploadFile" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
								</label>
							</div>
						</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn-u btn-u-default" data-dismiss="modal">취소</button>
					<input type="submit" class="btn-u btn-u-primary" id='new_timeline_submit'>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!-- end 신규 프로젝트 생성 -->
		
	</div><!--/End Wrapepr-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/counter/jquery.counterup.min.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/datepicker.js"></script>
	<script type="text/javascript" src="assets/js/plugins/validation.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
		//window.onload=(function(){
			function upload(callback){
				return function(event){
					//alert($("#file").val());
					if(!$("#file").val()){
						alert("사진 없이 업로드 하시겠습니까?");
						callback({result:""});
						return;
					}
				event.preventDefault();
				$.ajax({
					contentType: false,
					processData: false,
			        data: new FormData($(this)[0]),
			        type: $(this).attr('method'),
			        url: '/image/upload',
			        success: function(response) {
			        	if(response.error) alert(response.error);
			        	else{
			        		callback(response);
			        	}
			        }
	   			});
			}};
			
			function ready() {
					//alert(1);
			App.init();
			StyleSwitcher.initStyleSwitcher();
			Datepicker.initDatepicker();
			Validation.initValidation();
			
			var heart_clicked = 0;
			
			//새로운 타임라인 포스트 등록 버튼
			$('.jisu_timeline_new_link').mouseenter(function(){
				$(this).css('color','#72c02c');
				$(this).css('font-size','17px');
			});
			
			$('.jisu_timeline_new_link').mouseleave(function(){
				$(this).css('color','#999');
				$(this).css('font-size','15px');
			});
				
				//새로운 타임라인 포스트 등록
				var new_timeline_subject = $('#inputTitle').val();
				var new_timeline_date = $('#start').val();
				var new_timeline_content = $('#inputDesc').val();
				var new_timeline_picture = $('#file').val();
				
				 $("#new_post_submit").submit(upload(function(x){
					   var report={projectId:id,type:"general"};
					   report.title=$('#inputTitle').val();
					   report.writeDate=$('#start').val();
					   report.contents=$('#inputDesc').val();
					   if(x.result!="")report.image=x.result;
					   //alert(JSON.stringify(x));
					   //alert(JSON.stringify(report));
					   $.post('http://'+document.location.host+'/post/new',report,function(res){
							// 여기서 처리 결과를 가지고 오류 처리 등을 합니다. 자세한 내용은 testread.html을 참고합니다.
							//alert(JSON.stringify(res.result));
							alert("업로드 성공"); 
							location.reload();
						});
					   
				 }));
				//새로운 타임라인 포스트 등록 완료
			//새로운 타임라인 포스트 등록 버튼 완료
			
			//포스트 편집 버튼
			$('.jisu_edit_link').mouseenter(function(){
				$(this).css('color','#72c02c');
				$(this).css('font-size','11px');
			});
			
			$('.jisu_edit_link').mouseleave(function(){
				$(this).css('color','#999');
				$(this).css('font-size','10px');
			});
			
			$('.jisu_edit_button').mouseenter(function(){
				$(this).css('color','#9c9c9c');
				$(this).css('background-color','#f3f3f3');
				$(this).css('transition','all 0.3s ease-in-out');
			});
			
			$('.jisu_edit_button').mouseleave(function(){
				$(this).css('color','#555');
				$(this).css('background-color','#f3f3f3');
			});
			//포스트 편집 버튼 완료
			
			//댓글, 평가 아이콘
			$('.jisu_timeline_icon').mouseenter(function(){
				$(this).css('color','#ffffff');
				$(this).css('background-color','#4a9706');
				$(this).css('transition','all 0.3s ease-in-out');
			});
			
			$('.jisu_timeline_icon').mouseleave(function(){
				$(this).css('color','#ffffff');
				$(this).css('background-color','#5fb611');
			});
			//댓글, 평가 아이콘 완료
			
			//좋아요 버튼
			$(document).on('mouseenter','.jisu_heart_icon0',function(){
					$(this).css('color','#ffffff');
					$(this).css('background-color','#4a9706');
					$(this).css('transition','all 0.3s ease-in-out');
			});
			

			$(document).on('mouseenter','.jisu_heart_icon1',function(){
					$(this).css('color','#ffffff');
					$(this).css('background-color','#c90000');
					$(this).css('transition','all 0.3s ease-in-out');
			});
			
			$(document).on('mouseleave','.jisu_heart_icon0',function(){
					$(this).css('color','#ffffff');
					$(this).css('background-color','#5fb611');
			});

			$(document).on('mouseleave','.jisu_heart_icon1',function(){
					$(this).css('color','#ffffff');
					$(this).css('background-color','red');
			});
			
			$(document).on('click','.jisu_heart_icon0',function(){
					$(this).css('background-color','#c90000');
					$(this).removeClass('jisu_heart_icon0');
					$(this).addClass('jisu_heart_icon1');
					var id = $(this).attr("name");
					$.post('http://'+document.location.host+'/post/like/'+id,{memberId:mid},function(res) {
						
					});
			});		
			
			
			$(document).on('click','.jisu_heart_icon1',function(){
					$(this).css('background-color','#4a9706');
					$(this).removeClass('jisu_heart_icon1');
					$(this).addClass('jisu_heart_icon0');
					var id = $(this).attr("name");
					$.post('http://'+document.location.host+'/post/unlike/'+id,{memberId:mid},function(res) {
						
					});
			});
			//좋아요 버튼 완료
			
			//댓글 제출 버튼
			$(document).on('click','.reply_submit_button',function(){
					//alert(JSON.stringify($(this)[0]));
					//alert(JSON.stringify($('.reply_submit_button')[0]));
					var post_id = $(this).attr("name");
					var report={projectId:id,type:"reply"};
					//alert(post_id);
					//alert(id);
					report.contents=$(this).parent().prev().val();
					report.writer=mid;
					$.post('http://'+document.location.host+'/post/reply/'+post_id,report,function(res) {
						alert(report.contents);
						location.reload();
					});
			});
			//댓글 제출 버튼 완료
			
			//new timeline 에서 제출 버튼 누르면 reload
			$(document).on('click','#click_click',function(){
				location.reload();
			});
			//new timeline 에서 제출 버튼 누르면 reload 완료
			

			
			//final report 포스트 
			$('.finalReport').prev('.cbp_tmicon').addClass('timeline_final_report_icon');
			$('.finalReport').children('h2').children('.jisu_edit_link').addClass('timeline_final_report_color');
			$('.finalReport').addClass('timeline_final_report_format');
			$('.finalReport').children('.row').children('.col-md-4').remove();
			$('.finalReport').children('.row').children('.col-md-8').addClass('col-md-12');
			$('.finalReport').children('.row').children('.col-md-8').removeClass('col-md-8');
			$('.finalReport').children('.row').children('.col-md-12').children('.jisu_heart_icon').before('<button style="float:left ; margin-top:5px" class="btn-u btn-brd btn-u-orange btn-u-xs report_download" type="button"><i class="fa fa-download"></i></button>');
			$('.report_download').click(function(){
				var fid = $(this).prev(".get_timeline_content").attr("name");
				window.open('http://'+document.location.host+'/file/download/'+fid,'_blank');
			});
			//final report 포스트 완료
			
			//midterm report 포스트 
			$('.midtermReport').prev('.cbp_tmicon').addClass('timeline_midterm_report_icon');
			$('.midtermReport').children('h2').children('.jisu_edit_link').addClass('timeline_midterm_report_color');
			$('.midtermReport').addClass('timeline_midterm_report_format');
			$('.midtermReport').children('.row').children('.col-md-4').remove();
			$('.midtermReport').children('.row').children('.col-md-8').addClass('col-md-12');
			$('.midtermReport').children('.row').children('.col-md-8').removeClass('col-md-8');
			$('.midtermReport').children('.row').children('.col-md-12').children('.jisu_heart_icon').before('<button style="float:left ; margin-top:5px" class="btn-u btn-brd btn-u-orange btn-u-xs report_download" type="button"><i class="fa fa-download"></i></button>');
			$('.report_download').click(function(){
				var fid = $(this).prev(".get_timeline_content").attr("name");
				window.open('http://'+document.location.host+'/file/download/'+fid,'_blank');
			});
			//midterm report 포스트 완료
			
			//평가 버튼
			$('.jisu-evaluation-button').css('background-color','#A4A4A4');
			$('.jisu-evaluation-button').width('50px');
			$('.jisu-evaluation-button').children('p').css('margin-top','0px');
			$('.jisu-evaluation-button').children('p').css('margin-bottom','0px');
			$('.jisu-evaluation-button').children().css('color','#FFFFFF');
			$('.dropdown-menu').css('min-width','200px');

			
			$('.jisu-excellent').click(function() {
				$(this).parent().parent().prev().children('.jisu-evaluation-result').remove();
				$(this).parent().parent().prev().children('p').after('<p style="font-size:10px; color:#FFFFFF; margin:0px 0px 0px 0px;" class="jisu-evaluation-result">Excellent<i class="fa fa-angle-down"></i></p>');
			});
			$('.jisu-good').click(function() {
				$(this).parent().parent().prev().children('.jisu-evaluation-result').remove();
				$(this).parent().parent().prev().children('p').after('<p style="font-size:10px; color:#FFFFFF; margin:0px 0px 0px 0px;" class="jisu-evaluation-result">Good<i class="fa fa-angle-down"></i></p>');
			});
			$('.jisu-soso').click(function() {
				$(this).parent().parent().prev().children('.jisu-evaluation-result').remove();
				$(this).parent().parent().prev().children('p').after('<p style="font-size:10px; color:#FFFFFF; margin:0px 0px 0px 0px;" class="jisu-evaluation-result">So So<i class="fa fa-angle-down"></i></p>');
			});
			$('.jisu-bad').click(function() {
				$(this).parent().parent().prev().children('.jisu-evaluation-result').remove();
				$(this).parent().parent().prev().children('p').after('<p style="font-size:10px; color:#FFFFFF; margin:0px 0px 0px 0px;" class="jisu-evaluation-result">Bad<i class="fa fa-angle-down"></i></p>');
			});
			$('.jisu-verybad').click(function() {
				$(this).parent().parent().prev().children('.jisu-evaluation-result').remove();
				$(this).parent().parent().prev().children('p').after('<p style="font-size:10px; color:#FFFFFF; margin:0px 0px 0px 0px;" class="jisu-evaluation-result">Very Bad<i class="fa fa-angle-down"></i></p>');
			});
			//평가 버튼 완료
		}//);
	</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
