/* Add here all your css styles (customizations) */

.cbp-filter-item-active,
.cbp-filter-item:hover {
	color: #72c02c !important;
}

.cbp-filter-item-active {
	font-weight: 400 !important;
}

.project_title {
    position: relative;
	color: #555;
	font-size: 20px;
	font-weight: 200;
    margin-bottom: 20px;
}

.project_title:after {
	left: 1px;
	z-index: 1;
	width: 30px;
	height: 2px;
	content: " ";
	bottom: -6px;
	position: absolute;
	background: #72c02c;
}

/*Project Tag*/
.project-box small.project-tag {
  display: block;
  font-size: 12px;
}

.project-box small.project-tag,
.project-box small.project-tag a {
  color: #999;
}

.project-box small.project-tag i {
  margin-right: 5px;
}

.project-box small.project-tag a:hover {
  color: #72c02c;
}

.project-box p {
  margin-top: 5px;
}

.no-bottom-padding {
	padding-bottom: 0px !important;
}

/*******************************jisu*******************************/

/**************timeline**************/

.jisu_right_border_gray {
	border-right: 1px solid #eee;
}

.jisu_timeline_icon{
	color: #ffffff;
	width: 30px;
	height: 30px;
	padding: 7px;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	background: #5fb611;
	text-align: center;
	display: inline-block;
	float:right;
}

.jisu_edit_button{
	background-color:#f3f3f3;
	color:#555;
}

.jisu_edit_link{
	color:#999;
	float:right;
	font-size:10px;
	text-decoration:none;
}

.jisu_new_button_div{
	height:40px;
	margin:0px 0px -20px 20px;
	float:left;
}

.jisu_timeline_new_link{
	color:#999;
	float:right;
	font-size:15px;
	text-decoration:none;
}

/**************timeline**************/