/* Add here all your css styles (customizations) */

.cbp-filter-item-active,
.cbp-filter-item:hover {
	color: #72c02c !important;
}

.cbp-filter-item-active {
	font-weight: 400 !important;
}

.project_title {
    position: relative;
	color: #555;
	font-size: 20px;
	font-weight: 200;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
}

/* .project_title:after {
	left: 1px;
	z-index: 1;
	width: 30px;
	height: 2px;
	content: " ";
	bottom: -4px;
	position: absolute;
	background: #72c02c;
} */

.project-detail-title-box {
	padding: 80px 0;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	background: url(../img/bg/7.jpg) 50% 100% repeat fixed;		
}

/*Project Tag*/
.project-box small.project-tag {
	display: block;
	font-size: 12px;
	line-height: 14px;
}

.project-box small.project-tag,
.project-box small.project-tag a {
	color: #999;
}

.project-box small.project-tag i {
	margin-right: 5px;
}

.project-box small.project-tag a:hover {
	color: #72c02c;
}

.project-box p.project-intro {
	margin-top: 5px;
	margin-bottom: 30px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-bottom-padding {
	padding-bottom: 0px !important;
}

.bottom-margin-10 {
	margin-bottom: 10px !important;
}

.button-margin-right-5 {
	margin-right: 5px;
}

.no-border {
	border: none !important;
}

.filters-list-jen {
  margin-bottom: 30px;
  /* text-align: center; */
  font: 400 12px/21px "Lato", sans-serif;
  color: #DADADA;
  /* padding: 0 15px; */ }
  
.filters-list-jen .filter-item-jen {
    color: #949494;
    cursor: pointer;
    font: 400 13px/12px "Lato", sans-serif;
    position: relative;
    overflow: visible;
    margin: 0 0 10px !important;
    display: block;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }
}

.filters-list-jen .filter-item-jen:hover {
  color: #2D2C2C; }

.filters-list-jen .filter-item-jen.filter-item-active {
  color: #70c12c;
  cursor: default; }


/* form-checkbox */
.sky-form .jen-checkbox {
	margin-bottom: 4px;
	line-height: 27px;
	padding-top: 0px;
	color: #404040;
	cursor: pointer;
}

.jen-checkbox-item {
	padding-top: 0px !important;
	font-size: 12px !important;
}

.sky-form .inline-group .date-picker {
	float: left;
	margin-right: 30px;
}

.progress.progress-u.vertical.bottom {
	margin-bottom: 10px;
}

.my-progress-icon {
	width: 40px !important;
	margin-right: 10px;
}

.progress-bar-idea {
	background: #c6bfe8;
}

.progress-bar-leader {
	background: #9ae1a6;
}

.progress-bar-skills {
	background: #a0d6e7;
}

.progress-bar-team {
	background: #ffc0b4;
}

.no-bottom-margin {
	maring-bottom: 0px !important;
}

.project-image-box {
	position: relative;
	width: 100%;
}

.project-image-box .img-responsive {
	object-fit: cover !important;
	object-position: 50% 50%;
}

.gray-background {
  background: #f7f7f7;
}


/*******************************jisu*******************************/

/**************timeline**************/

.jisu_right_border_gray {
	border-right: 1px solid #eee;
}

.jisu_timeline_icon{
	color: #ffffff;
	width: 30px;
	height: 30px;
	padding: 7px;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	background: #5fb611;
	text-align: center;
	display: inline-block;
	float:right;
}

.jisu_edit_button{
	background-color:#f3f3f3;
	color:#555;
}

.jisu_edit_link{
	color:#999;
	float:right;
	font-size:10px;
	text-decoration:none;
}

.jisu_new_button_div{
	height:40px;
	margin:0px 0px -20px 0px;
	float:left;
}

.jisu_timeline_new_link{
	color:#999;
	float:right;
	font-size:15px;
	text-decoration:none;
}

/**************timeline**************/